/* body text  */
body{
    font-family: 'Poppins', sans-serif;
}
/* style Top bar  */
nav a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
}
nav{
    display: flex;
    justify-content:right;
    margin-bottom: 50px;
}
.influencer-text{
    margin-left: 20px;
}
/* First blog and section  */
.button-text{
    background-color: tomato;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 15px;
}
.first-blog{
    display: flex;
    width: 90%;
    margin-left: 20px;
    margin-bottom: 100px;
}
.first-gear{
    width: 300px;
    margin-left: 500px;
}
/* Company logos section  */
hr{
    width: 80%;
}
#bottom-hr{
    margin-bottom: 100px;
}
.comapany-logos{
    display: flex;
    
    justify-content: center;
}
.logos{
    margin-left: 50px;
}
/* Product listing  */

.containers{
    align-items: center;
    justify-content: center;
}
.section-title{
    text-align: Center;
    margin-bottom: 50px;
}
.product{
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    padding: 5px 5px 15px 10px;
    box-shadow: 5px 5px 5px 5px bisque;
    width: 70%;
    height: 90%;
    border-radius: 5px;
}
.course-info{
    color: coral;
}
.extra-info{
    color: gray;
}
.course-rating{
    display: flex;
    align-items: center;    
}
.rating{
    color: gray;
    font-weight:800;
    margin-left: 10px;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
#see-more{
    text-align: right;
    margin-right: 18%;
    color: indianred;
}
/* Product collection part ends  */
/* extra section starts  */
.bonus-section{
    background-color: bisque;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 50px;
    padding-left: ;
}

/* footer section starts  */
footer{
    text-align: center;
    background-color: indianred;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
