/* body text  */
body{
    font-family: 'Poppins', sans-serif;
}
/* style Top bar  */
nav a{
    text-decoration: none;
    margin-right: 20px;
    color: black;
}
nav{
    display: flex;
    justify-content:right;
    margin-bottom: 50px;
}
.top-bar{
    margin-top: 30px;
}
.influencer-text{
    margin-left: 30px;
    font-size: larger;
}
/* First blog and section  */
.button-text{
    background-color:crimson;
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 15px;
}
.button-text:hover{
    background-color:teal;
    color: white;
}
.button-text:hover>.fas.fa-arrow-right{
    color: yellow;
    position: relative;
    transition: width 2s ease, height 2s, transform 0.5s;
    transform: rotateZ(-90deg)
}
.fas.fa-arrow-right:hover{
    transform: rotateZ(-90deg)

}
.first-blog{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-left: 30px;
    margin-bottom: 100px;
}
.intro{
    margin-right: 20px;
}
.first-gear:hover{
    transform:scale(1.25, 1.25);
    transition: transform 1s;
}
/* Company logos section  */
hr{
    width: 80%;
}
#bottom-hr{
    margin-bottom: 100px;
}
.comapany-logos{
    display: flex;
    justify-content: center;
}
.logos{
    margin-left: 50px;
}
/* Product listing  */

.containers{
    align-items: center;
    justify-content: center;
}
.section-title{
    text-align: Center;
    margin-bottom: 50px;
}
.product{
    margin: 10px 10px 10px 10px;
    border-radius: 5px;
    padding: 5px 5px 15px 10px;
    box-shadow: 5px 5px 5px 5px bisque;
    width: 70%;
    height: 90%;
    border-radius: 5px;
}
.course-info{
    color: coral;
}
.extra-info{
    color: gray;
}
.course-rating{
    display: flex;
    align-items: center;    
}
.rating{
    color: gray;
    font-weight:800;
    margin-left: 10px;
}
.collection{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-left: 100px;
    margin-right: 100px;
}
#see-more{
    text-align: right;
    margin-right: 18%;
    color: indianred;
    margin-bottom: 50px;
}
/* Product collection part ends  */
/* extra section starts  */
.bonus-section{
    background-color:palegoldenrod;
    width: 100%;
    display: inline-block;
    text-align: center;
    margin-right: 50px 0 100px 0;
    display: flex;
    justify-content: center;
}
.extra-img{
    margin-left: 50px;
    width: 400px;
}
.img-info{
    border-radius: 10px;
    padding: 15px;
    border: 2px solid palegreen;
    box-shadow: 0 0px 10px 1px black;
    width: 30%;
}
.submission{
    margin-right: 60px;
    margin-top: 100px;
    
}
.submit{
    margin-top: 15px;
}
.submit:hover{
    background-color: lightsalmon;
    transform: scale(1.5);
    transition: cubic-bezier(0.39, 0.575, 0.565, 21);
}
/*---------------footer section starts------------
--------------------------  */
footer{
    text-align: center;
    background-color: indianred;
    margin-top: 100px;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* -----------------Adding Media quaries ------------------------  */
/*-----------------Mobile devices  --------------------------*/

@media only screen and (max-width: 576px) {

    .influencer-text{
        text-align: center;
    }
    .button-text{
        margin-left: 150px;
        text-align: center;
    }
    .top-bar {
        display: flex;
        flex-direction: row;
        margin-right: 50px;
    }
    .first-gear{
        margin-top: 50px;
        margin-left: 80px;
        width: 50%;

    }
    .first-blog{
        flex-direction: column;
    }
    .collection{
        grid-template-columns: repeat(1, 1fr);
    }
    .bonus-section{
        width: 100%;
        justify-content: center;
    }
    .extra-img {
        width: 80%;
        justify-content: center;
    }
    .img-info{
        width: 60%;
    }
    .comapany-logos{
        display: flex;
        flex-wrap: wrap;
    }
    .product{
        width: 100%;
    }
}
/* ----------------For tablet devices ------------------ */
@media only screen and (max-width:768px) and (min-width:576px) {
    .top-bar{
        justify-content: center;
        margin-right: 150px;
    }
    .influencer-text{
        text-align: center;
    }
    .first-blog{
        display: flex;
        flex-direction: row;
    }
    .comapany-logos{
        display: flex;
        flex-wrap: wrap;
    }
    .collection{
        grid-template-columns: repeat(2, 1fr);
    }
    .product{
        width: 90%;
        margin-right: 5px;   
    }
    .extra-img {
        width: 80%;
        justify-content: center;
    }

}